<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.UserMapper">
	<select id="selUserByName" resultType="User" parameterType="string">
		select * from user where username = #{0}
	</select>
	<insert id="regUser" parameterType="User">
		insert into user values(default,#{username},#{password},#{sex},#{age},#{birthday})
	</insert>
	<select id="selUserInfo" resultType="User">
		select * from user
	</select>
</mapper>